@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: #141414;
  color: #ffffff;
  font-weight: 300;
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 18px;
}
